# Carpeta del entorno virtual
.venv 

# Carpeta con las claves privadas
Private

# Carpeta de los subtitulos (no necesario subirlo a Git)
subs

#Modelos 
wandb 
*.joblib

# Datos
*.csv
*.parquet
data

# Logs
*.log

#Modelos 
*.joblib
wandb


# Archivos ejecutables
__pycache__
*.pyc
